
body{
    font-family: system-ui, sans-serif;
    background-color: rgb(226 109 92);
    color: rgb(42 98 143);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 40;
    border: 5px solid rgb(42 98 143);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
}


h3 {
  font-weight: 200;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.9em;
  padding: 0;
  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
}

h3 span {
  color: rgb(42 98 143);
  animation-delay: 2s;
  font-weight: 600;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.social_buttons{
    display: flex;
    gap: 12px;
}

.git_button{
    display: inline-block;
    padding: 10px 20px;
    background: #24292e;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.git_button:hover{
    background: #333;
    box-shadow: 0 0 10px #333;
    transform: translateY(-2px)
}

.linkedin_button{
    display: inline-block;
    padding: 10px 20px;
    background: #24292e;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.linkedin_button:hover{
    background: #333;
    box-shadow: 0 0 10px #333;
    transform: translateY(-2px)
}


.content {
    text-align: left;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
}


.nav-area {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.nav-item img {
    width: 70px;
    margin-bottom: 10px;
}

.nav-item a {
    color: #27f0c9;
    font-size: 1.2rem;
    text-decoration: none;
}

