
body{
    font-family: system-ui, sans-serif;
    background-color: #F5DBCB;
    color: #C1666B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 80vh;
}

.page_frame {
    border: 12px solid #C1666B;
    border-radius: 30px;
    padding: 40px 60px;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    min-height: calc(80vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index_name h1 {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.h1 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
  font-weight: 200;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.9em;
  padding: 0;
  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
}

h3 span {
  color: #C1666B;
  animation-delay: 2s;
  font-weight: 600;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.social_buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.git_button{
    display: inline-block;
    padding: 10px 20px;
    background: #24292e;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.git_button:hover{
    background: #333;
    box-shadow: 0 0 10px #333;
    transform: translateY(-2px)
}

.linkedin_button{
    display: inline-block;
    padding: 10px 20px;
    background: #0072b1;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.linkedin_button:hover{
    background: #005481;
    box-shadow: 0 0 10px #333;
    transform: translateY(-2px)
}


.content {
    text-align: left;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
}


.nav-area {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.nav-item img {
    width: 70px;
    margin-bottom: 10px;
}

.nav-item a {
    color: #C1666B;
    font-size: 1.2rem;
    text-decoration: none;
}

